html {
    color: #000;
    background: #f5f5f5;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: calc(100 * (100vw / 750));
    min-width: 320px;
    font-family:'微软雅黑','宋体',sans-serif;
}
html * {
    outline: none;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
input, select, textarea {
    font-size: 100%;
}
input,button,textarea{
    background-color: inherit;
    color: inherit;
    font: inherit;
    border: none;
    outline: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
fieldset, img {
    border: 0
}
abbr, acronym {
    border: 0;
    font-variant: normal
}
del {
    text-decoration: line-through
}
address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 500
}
ol, ul {
    list-style: none
}
caption, th {
    text-align: left
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 500
}
q:before, q:after {
    content: ''
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -.5em
}
sub {
    bottom: -.25em
}
a{text-decoration:none;cursor: pointer;}
a:hover{text-decoration:underline;}
a,
a:focus,
a:hover,
a:active{ outline:none; color:inherit; text-decoration:none;}
ins{
    text-decoration: none
}
img{
    max-width: 100%;
    vertical-align: middle;
}
body {
    font-family: 'PingFangHk-Regular', 'Helvetica', 'Roboto', 'Microsoft YaHei';
    font-size: .16rem;
    max-width: 640px;
    margin: 0 auto;
}

@media screen and (min-width: 450px){
    html{font-size: 60px;}
}
@media screen and (max-width: 350px){
    html{font-size: 47px;}
}
@font-face {
    font-family: 'iconfont';  /* project id 38364 */
    src: url('//at.alicdn.com/t/font_38364_yjega7i93fp0t3xr.eot');
    src: url('//at.alicdn.com/t/font_38364_yjega7i93fp0t3xr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_38364_yjega7i93fp0t3xr.woff') format('woff'),
    url('//at.alicdn.com/t/font_38364_yjega7i93fp0t3xr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_38364_yjega7i93fp0t3xr.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
#cnzz_stat_icon_1271495034{
    display: none;
}
